body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(173, 206, 95);
}

#clock {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0;
    border-radius: 50%;
    border-radius: 100%;
    background: #fffb02;
    border: 5px solid rgb(240, 216, 5);
}

.circle {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(24, 170, 24);
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#red-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: rgb(255, 0, 0);
    border: 2px solid #ff0000;
    margin: auto;
    z-index: 2;
}

#green-circle {
    background-color: green;
}

.hour {
    position: absolute;
    height: 140px;
    width: 6px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 25px;
}

.minute {
    position: absolute;
    height: 190px;
    width: 4px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
    margin: auto;
    bottom: 0;
    right: 0;
    background: black;
    transform-origin: bottom center;
    z-index: 1;
    border-radius: 25px;
}

.second {
    position: absolute;
    height: 190px;
    width: 2px;
    margin: auto;
    top: -38%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #FF4B3E;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: 1;
}